body {
    font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4ebd0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #122620;
    color: #dbad60;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 15px 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;

}


#gastos, #ingresos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}

#gastos-y-grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#ingresos-y-grafico {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
table {
    width: 80%;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
}

th, td {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
        font-family: 'Cormorant Garamond', serif;


}

td:nth-child(2) {
    text-align: left;
}

th {
    background: linear-gradient(to right, #b68b40, #DBAD60);
}

button, #monthFilter, #yearFilter {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, #b68b40, #DBAD60);
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
            font-family: 'Cormorant Garamond', serif;

}

button:hover {
    background-color: #005bb5;
}

canvas {
    border-radius: 15px;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
}

tr.selected {
    background-color: #e0f7fa;
    transition: background-color 0.3s;

}

select {
    font-size: 0.9em;
    cursor: pointer;
    color: black;
}

#button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container h2 {
    text-align: center;
    width: 100%;
}

.chart-container canvas {
    width: 45%;
    height: auto;
    margin: 1%;
}

.horizontal-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.horizontal-container section:first-child {
    width: 65%;
}

.horizontal-container section:last-child {
    width: 35%;
}

#grafico-barras-section {
    padding-top: 4rem;
    width: 50%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#gastos-lista tr:hover td:not(.etiqueta) {
    background-color: #f0f0f0;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#progressContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
}

/* style.css */
#filterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#filterContainer select {
    margin: 0 10px;
}

#uploadIcon {
    font-size: 24px;
    cursor: pointer;
    color: #DBAD60;
    position: absolute;
    right: 0;
}

#uploadIcon:hover {
    color: #007bff;
}